<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1> condition statement practise</h1>
        {% if a > b %}
            {% if a > c %}
                <h1>A is hgest</h1>
            {% else %}
                <h1>C is higest</h1>
            {% endif %}
        {% else %}
            {% if b > c %}
                <h1>B is higest</h1>
            {% else %}
                <h1> C is higest</h1>
            {% endif %}
        {% endif %}
        <h1></h1>
    </center>
</body>
</html>